<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <h3 wicket:id="personIDHeader"></h3>
    <div wicket:id="wrapper">
        <div><span>Person ID:</span> <span wicket:id="personID"/></div>
        <div><span>First name:</span> <span wicket:id="firstName"/></div>
        <div><span>Last name:</span> <span wicket:id="lastName"/></div>
        <div><span>Sex:</span> <span wicket:id="sex"/></div>
        <div><span>Timestamp:</span> <span wicket:id="timestamp"/></div>
    </div>
</wicket:panel>
